<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota do aluno</title>
    <link rel="stylesheet" href="/aluno.css">
</head>
<body>

   
<div class="container">

    <div class="opcoes">

    <h1>Navegação</h1>

    <a href="/reajuste"> Reajuste </a>
    <a href="/imc"> IMC </a>
    <a href="/pagamento"> Pagamento </a>
       
</div>

    <div class="forms-div">
    <form action="/aluno" method="get">
        <h1>Dados do Aluno</h1>
        <label for="">Nome do Aluno</label>
        <input type="text" name="nome" placeholder="Ex: Carlos Eduardo Silva" required>
        <label for="">Nota 1</label>
        <input type="number" name="n1" step="0.01" min="0" max="10" required>
        <label for="">Nota 2</label>
        <input type="number" name="n2" step="0.01" min="0" max="10" required>
        <label for="">Nota 3</label>
        <input type="number" name="n3" step="0.01" min="0" max="10" required>
        <label for="">Nota 4</label>
        <input type="number" name="n4" step="0.01" min="0" max="10" required>
        <button type="submit">Calcular média</button>
     
    </form>
    </div>
    
    <div class="exibirInfo <%= mostrarDados ? 'ativo' : '' %> " >
    <% if (mostrarDados) { %>
    <h3>Nome do aluno: <%= nome %></h3>

    <h3>Média: <%= media %></h3>

    <h3>Situação:</h3>

   <% if (media >= 7) { %>
        <p class="aprovado">Aprovado</p>
    <% } else { %>
        <p class="reprovado">Reprovado</p>
    <% } %>

    <% } %>
</div>


  </div>
    
</body>
</html>