<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reajuste</title>
    <link rel="stylesheet" href="/reajuste.css">
</head>
<body>

     
    <div class="container">

        <div class="opcao">
        <h1>Navegação</h1>
        <a href="/reajuste"> Reajuste </a>
        <a href="/imc"> IMC </a>
        <a href="/Aluno"> Aluno </a>
     </div>

     <div class="formsResultado">

    <form action="/reajuste" method="get">
        <label for="">Valor a ser reajustado</label>
        <input type="number" name="valor" step="0.01" min="0" placeholder="Valor será reajustado ">
        <input type="number" name="porcem" id="" placeholder="Digite a porcentagem do reajuste">
         <button type="submit">Calcule</button>
    </form>

    <div class="resultado <%= mostrarDados ? 'ativo' : '' %>">
    <% if (mostrarDados) { %>  
        <h1>Valor Inserido: <%= valor %> </h1>
        <h1>Porcentagem: <%= porcem %>%</h1>
        <h1> Valor final: <%= novoValor %> </h1>
    <% } %>
    </div>
    </div>
    </div>
</body>
</html>