<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soma de dois números</title>
</head>
<body>

    <h1>Resultado da soma</h1>
    <p>O resultado da soma é: <%= resultado %> </p>
    
</body>
</html>