<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno</title>
</head>
<body>

    <a href="/">Página Inicial</a>
    <a href="/reajuste">Reajuste</a>

    <form action="/aluno" method="get">
        <input type="text" name="nome" placeholder="Digite seu nome">
        <input type="number" name="peso" placeholder="Digite seu peso">
        <button type="submit">Mostrar</button>
    </form>

    <h1> Nome: <%= nome %> </h1>
    <h1> Peso: <%= peso %>kg </h1>

    
</body>
</html>