@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Ubuntu:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #e1bee7);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}


form {
    background: #ffffff;
    width: 400px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c2c2c;
}


label {
    font-family: "Ubuntu", sans-serif;
    color: #555;
}


input,
button {
    display: block;
    width: 100%;
    margin: 12px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.3s;
    box-sizing: border-box; 
}

input:focus {
    outline: none;
    border-color: #7b61ff;
    box-shadow: 0 0 5px rgba(123, 97, 255, 0.3);
}


button {
    background: #7b61ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: #5a43d6;
}


.exibirInfo {
    background: #ffffff;
    width: 300px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    display: none; 
}


.exibirInfo.ativo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    animation: aparecer 0.5s ease;
}


.exibirInfo h3 {
    margin: 0;
    color: #333;
}

.exibirInfo p {
    margin: 0;
    font-weight: bold;
}


.aprovado {
    color: #2e7d32;
}

.reprovado {
    color: #c62828;
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #6fa1eb;
    padding: 30px;
    border-radius: 30px;
    align-items: center;
    
}

.opcoes a {
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #6c63ff;
    border-radius: 20px;
}

.opcoes a:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #6c55f5, #4c35c2);
    
}


@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

